/* CSS Variables */

:root {
  /* Main Colours */
  --primary-color: #005582;
  --secondary-color: #0295D5;
  --tertiary-color: #F7F7F7;

  /* Font Colours */
  --whitetext-color: #ffffff;
  --graytext-color: #A0A0A0;
  --blacktext-color: #000000;

  /* Other Colours */
  --price-color:#CC2C2C;
  --button-color: #027AB3;

}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Styling */

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--whitetext-color);
  font-size: 70px;
}

.h1-sus {
   font-family: Arial, Helvetica, sans-serif;
  color: var(--whitetext-color);
  font-size: 120px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--blacktext-color);
}

.h2-red {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: var(--price-color);
}

.h3-black {
   font-family: Arial, Helvetica, sans-serif;
   color: var(--blacktext-color);
   font-weight: lighter;

}

.h4-black {
   font-family: Arial, Helvetica, sans-serif;
   color: var(--blacktext-color);
   font-weight: lighter;
}

.h4-gray {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--graytext-color);
  font-weight: lighter;
}

.h4-white {
   font-family: Arial, Helvetica, sans-serif;
  color:var(--whitetext-color);
  font-weight: lighter;
}

.h4-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--secondary-color);
}

.h4-header {
  color: var(--whitetext-color);
font-family: arial;
font-weight: lighter;
}


/* HEADER */

.header {
 background: var(--primary-color);
  display: flex;
  justify-content: center;
  gap: 1100px;
}

.header-left {
display: flex;
margin: 10px;
margin-top: 20px;
gap: 15px;
  justify-content: start;
}

.header-right {
  display: flex;
  margin: 10px;
  margin-top: 20px;

}

/* MAIN 1 - LOGO, PROFIL & HANDLEVOGN */

.main-1 {
  display: flex;
  margin: 10px;
  justify-content: center;
  align-items: center;
  gap: 1200px;
  flex-direction: row;
}

.logo {
  padding: 15px;
}

.icons-right {
  gap: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* MAIN 2 - MENY & SØKEFELT */

.main-2 {
  background-color: var(--secondary-color);
  height: 50px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.menu {
  display: flex;
  flex-direction: row;
    justify-content: start;
  align-items: center;
  gap: 15px;
}

.searchbar {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: var(--whitetext-color);
  width: 900px;
  height: 35px;
  border-radius: 8px;
  flex-direction: row;
  gap: 5px
}

.search-img {
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  justify-self: start;
  align-items: center;
}

/* CATEGORIES */
.categories {
  background-color: var(--tertiary-color);
  padding: 12px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 100px
}
/* HERO IMAGE */

.hero {
  background-image: image-set(url(NetonNet-images/hero-image.png));
    background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
   width: 1800px;
  height: 800px;
  margin: 30px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

.hero-text {
display: flex;
flex-direction: column;
justify-self: start;
align-items: center;
margin-right: 1000px;
gap: 15px;
}

/* CATEGORIES */

.categories {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.cat-boxes {
  display: flex;
flex-direction: row;
  justify-self: center;
  align-self: center;
  gap: 100px;
}

.cat-pc {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}
