/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Styling */

.h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 30px;
}

.h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: black;
}

.h2-red {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: #CC2C2C;
}

.h3-black {
   font-family: Arial, Helvetica, sans-serif;
   color: black;
   font-weight: lighter;

}

.h3-gray {
  font-family: Arial, Helvetica, sans-serif;
  color:#A0A0A0;
  font-weight: lighter;
}

.h4-blue {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0295D5;
}

.h4-header {
  color: white;
font-family: arial;
font-weight: lighter;
}


/* HEADER */

.header {
 background: #005582;
  display: flex;
  justify-content: center;
  gap: 1100px;
}

.header-left {
display: flex;
margin: 10px;
margin-top: 20px;
gap: 15px;
  justify-content: start;
}

.header-right {
  display: flex;
  margin: 10px;
  margin-top: 20px;

}

/* MAIN */

