/*
selector {
property:value;
property:value;
property:value;
}
*/

* {
  margin: 10px;
  padding: 2px;
}

/* Background */
body {
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

/* Title */
h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Subtitle */
h2 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Name of Pokemon */
h3 {
  color: white;
   background-color: black;
  padding: 25px;
  opacity: 100%;
  border-radius: 45px;
  margin: 10px;
  font-size: 25px;
  text-align: left;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Tabletext */
h4 {
  color: white;
  font-size: 20px;
  text-align: left;
  text-decoration: underline;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Choose Below */
h5 {
  color: white;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Paragraph */
p {
  font-size: 18px;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* Images */
img


/* Borders */
main {
  background-color: black;
  padding: 25px;
  opacity: 100%;
  margin: 30px;
  border-radius: 50px;
}

/* Info table */
section {
  color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 45px;
  column-rule-color: beige;
  background-color: black;
  font-style: none;
  border: 50px;
  margin: 20px;
}

/* Button */
button:hover {
  background-color: rgb(255, 200, 3);
  color: rgb(49, 45, 0);
}

/* Charmander */
.fire {
  background-color: rgb(249, 77, 47);
  color: white;
  cursor: pointer;
  width: 150px;
  height: 40px;
  position: relative;
  left: 30%;
}

/* Bulbasaur */
.grass {
  background-color: rgb(74, 165, 29);
  color: white;
  cursor: pointer;
  width: 150px;
  height: 40px;
  position: relative;
  left: 37%;
}

/* Squirtle */
.water {
  background-color: rgb(78, 159, 240);
  color: white;
  cursor: pointer;
  width: 150px;
  height: 40px;
  position: relative;
  left: 44%;
}
