/* CSS Variables */
:root {
    --primary-color: #8086b4;
    --secondary-color: #212b51;
    --background-color: #000000;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Global Styling */

.container {
    background-color: var(--primary-color);
    display: flex ;
       width: auto;
    padding: 20px;
    margin: 0 auto;
}

.header-container {
       background-color: var(--secondary-color);
    color: white;
    display: flex;
    padding: 10px;
}


.box {
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    padding: 10px;
    height: 50px;
       display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-decoration: underline
}

.hero-box {
    background-image: url(https://images.unsplash.com/photo-1706211306706-8f36d91c8379?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: 100% 100%;
background-position: center;
width: auto;
min-height: 1020px;
  height: 1020px;
     display: flex;
     flex-direction: column;
    justify-content: center;
     row-gap: 600px;
}


h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: white;
       font-size: 150px;
       font-weight: lighter;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

h4 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

/* Header */
.header-container {
gap: 1000px;
width: auto;
}


.header-left {
    display: flex;
    justify-content: baseline;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* Hero Image */
.hero-title {
padding-top: 30px;
padding-left: 50px;
align-items: start;

}

.hero-text {
    align-items: end;
    padding-left: 50px;
    list-style:georgian;
}

.facts {
    display: flex;
    flex-direction: row;
    padding: 20px;
    gap: 50px;
}

.facts-1 {
    background-color:var(--primary-color);
}